<%= render 'posts/new_post', user: @user, post: @post %>


      <div class="col-md-8 offset-md-1">
        <h2>会員</h2>
        <table class="table table-hover">

          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100, 100), size: "100x100"%>
            </td>
              <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
