<h1>Homes#top</h1>

<body>
  <header>
    <span>★ねこライフ★</span>
  </header>
  
  <main>
    <h1>「”ねこ”ありきのライフを満喫しよう♪」</h1>
    
     <div>
       <%= link_to "Log in", new_user_session_path %>
	   </div>
	   
	   <div>
	     <%= link_to "Sign up", new_user_registration_path %>
     </div>

  </main>
</body>