// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users-page {
  background-image: url('/assets/kira1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  // ページスクロール時に固定
}